<mat-card class="main">
  <div class="main__wrapper">
    <div class="wide__screen">
      <div>
        <button mat-button routerLink="lessons">Заняття</button>
      </div>
      <div>
        <button mat-button routerLink="results">Історія</button>
      </div>
      <div>
        <button mat-button routerLink="statistics">Статистика</button>
      </div>
      <div style="margin-left: auto">
        <button mat-button routerLink="settings">Налаштування</button>
      </div>
      <div>
        <button mat-button>Вихід</button>
      </div>
    </div>
    <div class="mini__screen">
      <div>
        <button mat-button routerLink="lessons">Заняття</button>
      </div>
      <div>
        <button mat-button routerLink="results">Історія</button>
      </div>
      <div>
        <button mat-button routerLink="statistics">Статистика</button>
      </div>
      <div class="settings__link" routerLink="settings">
        <button mat-icon-button><mat-icon>settings</mat-icon></button>
      </div>
    </div>
  </div>
</mat-card>
<!-- add empty space for navbar-->
<div class="navbar__margin"></div>
