.main {
  border-radius: 0;
  padding: 0;
  margin: -8px -8px 0 -8px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.main__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 800px;
}

.navbar__margin {
  width: 100%;
  height: 32px;
}

.wide__screen {
  display: inherit;
  flex-direction: inherit;
  width: 100%;
}

.mini__screen {
  display: inherit;
  flex-direction: inherit;
  width: 100%;
}

@media all and (min-width: 800px) {
  .mini__screen {
    display: none;
  }
}

@media all and (max-width: 799px) {
  .wide__screen {
    display: none;
  }
}

.settings__link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-right: 16px;
}

.settings__link__button {
  height: 36px;
  line-height: 1px;
}

.settings__menu__shadow {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 36px);
}

.settings__menu {
  border-radius: 0;
  background-color: #3d3d3d;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}
