<div class="main__wrapper">
  <div class="main__container">
    <mat-card class="card" style="flex: 1;">
      <mat-card-title>Статистика</mat-card-title>
      <mat-card-content style="max-width: 250px">
        <div style="display: flex; justify-content: space-between">
          <span>Англійська мова</span>
          <span>000:00</span>
        </div>
        <div style="display: flex; justify-content: space-between">
          <span>Географія</span>
          <span>000:00</span>
        </div>
        <div style="display: flex; justify-content: space-between">
          <span>Історія</span>
          <span>000:00</span>
        </div>
        <div style="display: flex; justify-content: space-between">
          <span>Українська мова</span>
          <span>000:00</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
